body {padding: 0; margin: 0; text-decoration: none; font-family: 'NanumBarunGothic'; color: #525252}
ul { list-style: none; }
a { text-decoration: none; color: inherit;}


/* nav */
.nav-box { 
    height: 149px; width: 100%; background-color: #FFFFFF; box-sizing: border-box;
    border-top: 5px solid #E10029; border-bottom: 1px solid #f56a2f; position: fixed; top: 0; left: 0; z-index: 999;
}

.nav-main {
    width: 990px; height: 104px; display: flex; margin: auto;
}

.nav-main .nav-img { 
    width: 300px; height:100%; margin: auto; 
} 

.nav-main .nav-img img {
    margin-top: 27px
}


/* nav - login menu */
.nav-main .nav-btn { 
    width: 100%; height:100%; margin: auto; display: flex;
    flex-direction: column; display: flex; justify-items: end;
} 

ul.nav-login {
    height: 30px; list-style: none; padding: 0; margin: 0;  box-sizing: border-box;
    text-align: end;
}

ul.nav-login li {
    margin-left: 9px; padding: 15px 0 0 10px; display: inline-block;
    font-size: 14px; border-left: 1px solid #E6E6E6; line-height: 1.1; letter-spacing: -0.4px;
}

ul.nav-login li:first-child {
    border: none;
}

ul.nav-login li:last-child {
    color: #D91032;
}



/* nav - main menu */
.nav-menu {
    height: 57px; width: 782px; line-height: 16.5px; 
    margin-bottom: 0; margin-top: auto;
    letter-spacing: -0.3em;
}

.nav-menu a {
    height: 57px; padding: 0 25px 0 25px;
}

.nav-menu a img {
    margin-top: 11px;
}

.search-btn {
     width: 75px; height: 24px;  float: right; margin-top: 6px; 
}

.search-btn img {
    cursor: pointer;
}


.search-btn img:last-child {
    margin-left: 25px; margin-bottom: 2px;
}




/* nav - bottom detail menu */
.nav-sub {
    width: 100%; border-top: 1px solid #C4C6CA;
}

.sub-list {
    width: 990px; margin: auto;
}

.sub-list ul {
    padding:0; margin: 0; height: 38px; display: flex; box-sizing: border-box;
}

.sub-list ul li {
    font-size: 14px; border-left: 1px solid #C3C5C9;
}

.sub-list ul li a {
    display: block; font-size: 15px; letter-spacing: -0.5px;
    height: 38px;
    line-height: 38px;
}

.sub-list ul li a:hover {
    color: #292e9d;
}

.home {
    text-align: center;
}

.home a {
    width: 40px;
}

.home a img {
    margin-top: 13px;
}



.products {
    box-sizing: border-box; width: 181px;
}

.products a{
    width: 180px; display: flex; color:#333333;
}

.sub-list ul li a span {
    padding: 0 42px 0 20px;
}

.products a img {
    float: right; padding-top: 16px; padding-right: 15px;
}

.prod-sub {
    display: none; background: #FFFFFF;
    width: 180px; height: 487px; margin-left: -1px;
    border: 1px solid #C3C5C9;
}

.products:hover .prod-sub {
    display: block;
}

.prod-sub ul {
    display: block;
} 

.prod-sub ul li {
    height: 18px; margin-bottom: 0.5px;
    border: none; padding: 10px 40px 10px 20px; font-size: 15px; letter-spacing: -0.5px;
    cursor: pointer;
}

.prod-sub ul li:hover {
    height: 17px; margin-top: -1px;
    background: #FBFCFC; border-top: 1px solid #C3C5C9; border-bottom: 1px solid #C3C5C9;
}

.prod-sub ul li:first-child {
    margin-top: 13px;
}

.prod-sub ul li:first-child:hover {
    margin-top: 12px;
}

.prod-sub ul li:last-child {
    margin-bottom: 13px;
}



.funds {
    width: 230px;
}

.funds a {
    width: 230px; color:#333333;
}

.funds a img {
    float: right; padding-top: 16px; padding-right: 15px;
}

.fund-sub {
    display: none; background: #FFFFFF;
    width: 230px; height: 641px; margin-left: -1px;
    border: 1px solid #C3C5C9;
}

.funds:hover .fund-sub {
    display: block;
}

.fund-sub ul {
    display: block;
} 

.fund-sub ul li {
    height: 18px; margin-bottom: 0.5px;
    border: none; padding: 10px 40px 10px 20px; font-size: 15px; letter-spacing: -0.5px;
    cursor: pointer;
}

.fund-sub ul li:first-child {
    margin-top: 13px;
}

.fund-sub ul li:hover {
    height: 17px; margin-top: -1px;
    background: #FBFCFC; border-top: 1px solid #C3C5C9; border-bottom: 1px solid #C3C5C9;
}

.fund-sub ul li:first-child:hover {
    margin-top: 12px;
}



.search-menu {
    width: 230px;
}

.search-menu a{
    width: 230px; background: #FBFCFC; border-right: 1px solid #C3C5C9;
    color:#333333; font-family: 'NanumBarunGothicB';
}

.search-menu a img {
    float: right; padding-top: 15px; padding-right: 15px;
}

.last-sub {
    display: none; background: #FFFFFF;
    width: 230px; height: 333px; margin-left: -1px;
    border: 1px solid #C3C5C9; 
}

.search-menu:hover .last-sub {
    display: block;
}

.last-sub ul {
    display: block;
} 

.last-sub ul li {
    height: 18px; margin-bottom: 0.5px;
    border: none; padding: 10px 40px 10px 20px; font-size: 15px; letter-spacing: -0.5px;
    cursor: pointer;
}

.last-sub ul li:first-child {
    margin-top: 13px;
}

.last-sub ul li:hover {
    height: 17px; margin-top: -1px;
    background: #FBFCFC; border-top: 1px solid #C3C5C9; border-bottom: 1px solid #C3C5C9;
}

.last-sub ul li:first-child:hover {
    margin-top: 12px;
}






/* body */
.container { 
    width: 100%; 
 }

.empty {
    height: 148px;
}

.content {
    width: 960px; margin: auto; padding: 40px 0 90px 0; box-sizing: border-box;
}

.name {
    width: 100%; height: 75px; font-size: 42px; font-family: 'NanumBarunGothicUL';
    color: #333333; margin-top: -1px; letter-spacing: -0.5px;
    border-bottom: 2px solid #323E51;
}



.print {
    font-size: 15px; font-family: 'NanumBarunGothic';
    float: right; margin-top: 17px; position: relative;
}

.print .print-btn {
    display: inline-block; padding-left: 15px; margin-left:14px;
}

.print .print-btn img {
    display: inline-block; vertical-align: middle; margin-right: 6px;
}

.print .print-btn div {
    display: inline-block; 
}

.print .print-btn:first-child {
    letter-spacing: -0.6px;
}

.print .print-btn:first-child div {
    margin-right: 1px;
}

.print .print-btn:first-child img {
    margin-right: 5px;
}

.pnt-sec {
    position: absolute; top: 3px; right: 118px; border-left: 1px solid #333333;
    width: 2px; height: 13px;
}





.top-box {
    width: 100%; margin-top: 25px; margin-bottom: 55px;
}

.tag-area {
    padding-left: 30px; font-size: 12px; position: relative;
}

.tag-area .tag-top {
    height: 22px; box-sizing: border-box;
}

.tag-area .tag-top div {
    padding: 3px 8px 3px 8px; display: inline-block; letter-spacing: -0.038em;
    margin-right: 0.4em;
}

.tag-area .tag-top div:first-child {
    border: 1px solid #577cbf; color: #1f52ae;
}

.tag-area .tag-top div:last-child {
    border: 1px solid #d60024;; color: #d60024;
}

.tag-area .tag-btm {
    height: 22px; box-sizing: border-box;
}

.tag-area .tag-btm div {
    padding: 3px 8px 3px 8px; display: inline-block; letter-spacing: -0.034em;
    border: 1px solid #f54900; color: #f54900; margin-top: 10px;
}

.tag-area .tag-btm div:last-child{
    margin-left: 2px;
}

.tag-area img {
    position: absolute; top: 14px; right: 26px; cursor: pointer;
}








.top-box .fund-name {
    margin-top: 19px; font-size: 26px; padding-left: 30px;
    color: #000000; letter-spacing: -0.028rem; 
}


.top-box .fund-sum {
    margin-top: 23px; border-top: 1px solid #d4d6d9;
    padding: 26px 0 30px 0; color: #000000;
}


.sum-type1 {
    padding: 0; margin: 0; border-bottom: 1px solid #e4e4e4;
}

.sum-type1 li {
    display: inline-block; width: 192.5px; height: 101px; padding: 0 15px 0 20px; margin-right: -4px;
    box-sizing: border-box; vertical-align: top; margin-bottom: 29px;
    border-right: 1px solid #d4d6d9; position: relative; 
}

.sum-type1 li .title {
    display: inline-block; width: 100%; font-size: 15px; letter-spacing: -0.4px; 
    margin-bottom: 21px; color: #525252;
}

.sum-type1 li .text {
    font-size: 22px; width: 100%; display: inline-block; letter-spacing: -0.4px; 
}

.sum-type1 li:first-child span:nth-child(3) {
    margin-top:4px;
}

.sum-type1 li:first-child img {
    position: absolute; top: 2px; left: 126px;
}

.sum-type1 li:nth-child(2) span:last-child{
    font-size: 26px; color: #292e9d; margin-top: -3px;
}

.sum-type1 li:nth-child(2) span:last-child span {
    font-size: 20px; display: inline-block; margin-left: 8px;
}

.sum-type1 li:nth-child(3) .point {
    padding-top: 11px; display: inline-block; font-size: 15px; color: #d60024;
    letter-spacing: -0.4px;
}

.sum-type1 li:nth-child(3) .point img {
    margin: 2px 3px 5px 0; display: inline-block; vertical-align: middle;
}

.sum-type1 li:first-child {
    width: 192px;
}

.sum-type1 li:last-child {
    border:none; width: 191px;
}





.sum-type2 {
    padding: 0; margin: 0;
}

.sum-type2 li {
    display: inline-block; width: 192.5px; height: 101px; padding: 0 15px 0 20px; margin-right: -4px;
    box-sizing: border-box; vertical-align: top; margin-top: 26px;
    border-right: 1px solid #d4d6d9; position: relative;
}

.sum-type2 li .title {
    display: inline-block; width: 100%; font-size: 15px; letter-spacing: -0.4px; 
    margin-bottom: 21px; color: #525252;
}

.sum-type2 li:first-child {
    width: 192.2px;
}

.sum-type2 li:last-child {
    border:none; width: 191px; position: relative;
}

.sum-type2 li:first-child .text {
    font-size: 22px; color: #d60024; letter-spacing: -0.4px;
}

.sum-type2 li:nth-child(2) .text, .sum-type2 li:nth-child(3) .text {
    font-size: 22px; letter-spacing: -0.4px;
}

.sum-type2 li:nth-child(4) .text {
    font-size: 15px; letter-spacing: -0.4px;
}

.sum-type2 li:last-child .sub-title {
    position: absolute; left: 20px; top: 17px; font-size: 15px; letter-spacing: -0.4px; color: #525252;
}

.sum-type2 li:last-child .icon-2 img{
    margin: 3px 5px 0 0;
}





.file-down {
    padding: 12px 30px; font-size: 15px; background: #fbfcfc;
    border-top: 1px solid #d4d6d9; border-bottom: 1px solid #a7acb4;
    height: 50px; box-sizing: border-box; display: inline-block; vertical-align: bottom;
    width: 100%;  line-height: 0.7;  color: #333333;
}

.file-down span:first-child {
    padding-right: 29px; font-size: 15px; letter-spacing: -0.03em;
    border-right: 1px solid #d4d6d9; height: 14px;
    display: inline-block; margin-bottom: 1px; color: #666666;
}

.file-down a span{
    font-size: 13px; letter-spacing: -0.4px;
}

.file-down a:nth-child(3) {
    margin-right: 1px;
}

.file-down a img {
    height: 24px; display: inline-block; vertical-align: bottom;
    padding-right: 6px;
}

.file-down a:last-child span, .file-down a:nth-child(4) span {
    letter-spacing: -0.034em;
}

.file-down a {
    margin-left: 19px; 
}

.file-down a:hover {
    color: #292e9d;
}




.btn-area {
    margin-top: 30px; text-align: center; color: #273346; display: flex;
    justify-content: center;
}

.btn-area a {
    width: 140px; height: 46px; border: 1px solid #000000;
    font-size: 18px; margin: 0; box-sizing: border-box; padding-top: 12px;
    letter-spacing: -0.04em; border-radius: 2px;
}

.btn-area a:first-child {
    background: #e10029; border: 1px solid #e10029; color:#FFFFFF;  
    box-sizing: border-box; letter-spacing: -0.05em;
}

.btn-area a:nth-child(2) {
    margin: 0 10px;
}

.btn-area a:hover {
    border: 1px solid #f54900;
}

.btn-area a:first-child:hover {
    background: #f54900; 
}






.tab-box { 
    width: 960px; display: block;
}

.tab-box .tab-item {
    width: calc(100%/5); display: block; float: left; text-align: center; 
    cursor: pointer; height: 50px; font-size: 17px; padding-top: 14px; box-sizing: border-box;
    letter-spacing: -0.04em; border-right: 1px solid #c3c3c3;  background: #FBFCFC;
    border-bottom: 2px solid #323e51;  border-top: 1px solid #c3c3c3;
    color: #666666;
}

.tab-box .tab-item:nth-child(2) {
    border-left: 1px solid #c3c3c3;;
}

input[name="tab-item"] {
    display: none;
}

.tab-box .tab-cnt {
    width: 100%;
    display: none; margin-top: 25px; padding-top: 25px; overflow: hidden;
}

#tab1:checked ~ #tab1-cnt, #tab2:checked ~ #tab2-cnt, #tab3:checked ~ #tab3-cnt,
#tab4:checked ~ #tab4-cnt, #tab5:checked ~ #tab5-cnt {
  display: block;
}

.tab-box input:checked + .tab-item {
    color: #d60024; font-family: 'NanumBarunGothicB'; padding-top: 14px;
    border: 2px solid #323e51; border-bottom: none; background: #FFFFFF;
    box-sizing: border-box;
}






.tab1-body .tab-name {
    font-size: 24px; font-family: 'NanumBarunGothicB'; color: #000000; letter-spacing: -0.4px;
    margin-bottom: 11px;
}

.tab1-body .tab-name:nth-child(3) {
    margin-bottom: 12px;
}

.tab-table {
    width: 100%; border-collapse: collapse;
    border-top: 2px solid #323e51; margin-bottom: 55px; line-height: 26px;
    letter-spacing: -0.03em; font-size: 15px; 
}

.tab-table tr th {
    width: 159px; font-weight: normal; font-family: 'NanumBarunGothicB';
    text-align: left; padding: 9px 20px; border-right: 1px solid #e1e3e6;
    box-sizing: border-box; color: #1a345e; background: #f7f9fa;
}

.tab-table tr td {
    padding: 9px 20px; font-family: 'NanumBarunGothic'; color: #333333;
}

th, td {
    border-bottom: 1px solid #e1e3e6; 
}

tr:last-child th, tr:last-child td{
    border-bottom: 1px solid #adadad;
}

tr:last-child td div {
    margin-top: 26px;
}



.tab3-body {
    margin-bottom: 55px;
}

.tab3-body .tab-name {
    font-size: 24px; font-family: 'NanumBarunGothicB'; color: #000000; letter-spacing: -0.4px;
    margin-bottom: 11px; display: flex; justify-content: space-between; align-items: end;
}

.tab3-body .tab-name span {
    font-size: 14px; font-family: 'NanumBarunGothic'; color: #333333; padding-bottom: 2px;
    letter-spacing: -0.03em;
}

.tab3-body .tab-table {
    margin-bottom: 0;
}

.tab3-body:first-child table:nth-child(2) tr th:first-child{
    width: 194px; box-sizing: border-box;
}

.tab3-body:first-child table:nth-child(2) tr th:not(:first-child) {
    width: 154px; box-sizing: border-box;
}

.tab3-body tr:first-child th:not(:first-child) {
    border-bottom: 1px solid #bbbbbb;
}

.tab3-body tr:first-child th {
    padding-top: 10px;
}

.tab3-body .tab-table:nth-child(2) tr th {
    text-align: center;
}

.tab3-body .tab-table:nth-child(4) tr th {
    text-align: center;
}

.tab3-body .tab-table tr th:last-child, .tab3-body .tab-table tr td:last-child  {
    border-right: none;
}

.tab3-body .tab-table tr td {
    text-align: right; border-right: 1px solid #e1e3e6;
    padding: 9px 20px 9px 0;
}

.tab3-body:first-child table:nth-child(4) tr th{
    width: 137.14px; box-sizing: border-box;
}

.tab3-body .tab-table tr:nth-child(2n+1) {
    background: #F7F7F7;
}

.tab3-body .tab-name:nth-child(3){
    margin-top: 55px; margin-bottom: 12px;
}

.tab3-body ul {
    padding: 0; margin: 0; font-size: 14px; letter-spacing: -0.032em; margin-top: 14px;
    line-height: 26px;
}






.tab5-body {
    .date-box {
        width: 100%; display: flex; align-items: center; color: #1a345e;
        height: 92px; box-sizing: border-box;
        border-top: 1px solid #596372; border-bottom: 1px solid #b1b1b1;
        .date-name {
            font-size: 15px; letter-spacing: -0.028em; font-family: 'NanumBarunGothicB';
            width: 160px; height: 100%; text-align: center; padding-top: 36px;
            background: #f7f9fa; box-sizing: border-box;
            border-right: 1px solid #e1e3e6;
        }
        .date-select {
            width: 802px; box-sizing: border-box;
            .period-btn {
                width: 100%; margin-left: 20px; display: flex;
                div {
                    font-size: 12px; letter-spacing: -0.035em;
                    height: 24px; border: 1px solid #464747; box-sizing: border-box;
                    text-align: center; width: 48.5px; margin-right: 10px;
                    border-radius: 2px; padding-top: 4px;
                    &:first-child {
                        width: 42.22px; box-sizing: border-box;
                    }
                    &:nth-child(2) {
                        width: 48px; box-sizing: border-box;
                    }
                    &:nth-child(3) {
                        width: 49px; box-sizing: border-box;
                    }
                    &:last-child {
                        width: 54.5px; box-sizing: border-box;
                    }
                }                
            }
            .calender-box {
                display: flex; font-size: 15px; height: 38px;
                align-items: center; margin-top: 10px; margin-left: 20px;
                .selected-date {
                    border: 1px solid #c5c5c5; padding: 9px 18px 0 10px;
                    height: 100%; letter-spacing: -0.0.3em;
                    box-sizing: border-box; margin-right: 8px;
                }
                .period-txt {
                    padding: 0 10px; margin-bottom: 3px; letter-spacing: -0.0.3em;
                    font-size: 14px;
                }
                img {
                    height: 29px; margin-bottom: 2px;
                }
            }
        }
    }
    .search-btn {
        width: 100%; height: 46px; margin-top: 30px; font-size: 18px; color: #FFFFFF;
        letter-spacing: -0.03em; display: block;
        .btn {
            display: flex; width: 140px; height: 100%; justify-content: center;
            align-items: center; border-radius: 2px; margin: 0 auto;
            background: #273346;
        }
    }
    .date-text {
        font-size: 14px; letter-spacing: -0.03em; text-align: right;
        margin-top: 144px;
    }
    .tab-table {
        margin-top: 9px;
        th {
            text-align: center; width: 120px; padding: 10px 0 9px 0;
            border-bottom: 1px solid #c2c2c2;
            &:last-child {
                border-right: none;
            }
        }
        tr {
            text-align: right;
            td {
                border-right: 1px solid #e1e3e6; padding: 9px 20px;
                &:last-child {
                    border-right: none;
                }
                &:first-child, &:last-child{
                    text-align: center;
                }
            }
        }
        tr:nth-child(2n+1) {
            background: #F7F7F7;
        }
    }

}





.btm-box {
    width: 100%; box-sizing: border-box; color: #333333;
    border-top: 1px solid #323e51; margin-top: 35px;
    .accordion {
        .acd-top {
            width: 100%; height: 51px; box-sizing: border-box; display: flex; justify-content: space-between;
            align-items: center; border: 1px solid #d1d1d1; border-top: none;
            line-height: 26px; cursor: pointer;
            span {
                font-family: 'NanumBarunGothicB'; padding-left: 20px; letter-spacing: -0.03em;
                &::first-letter {
                    color: #f94c00;
                }
            }
            .notice-on {    
                width: 14px; height: 8px; padding-right:20px; margin-top: 1px;
            }
            .notice-off {
                width: 14px; height: 8px; padding-right:20px; margin-top: 1px; display: none;
            }
        }
        .acd-btm {
            width: 100%; height: 222px; border: 1px solid #d1d1d1; box-sizing: border-box;
            border-top: none; padding: 24px 20px 26px 20px; letter-spacing: -0.028em;
            display: block; 
            ul {
                padding: 0; margin: 0; list-style-type: "▪"; list-style-position: outside;
                box-sizing: border-box; font-size: 15px; padding-left: 7px;
                li {
                    padding-left: 2px; line-height: 20px;
                    &:last-child {
                        margin-top: 12px;
                    }
                }
                ul {
                    list-style-type: "-"; list-style-position: outside; font-size: 14px; margin-top: 6px; padding-top: 2px;
                    color: #666666;
                    li {
                       line-height: 23px;
                        &:last-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        } 
    }
}



/* footer */
.footer {
    width: 100%; height: 124px; background-color: #F4F5F9;
    box-sizing: border-box;
}

.foot-menu {
    width: 100%; height: 54px; box-sizing: border-box; border-top: 1px solid #E42F51;
    border-bottom: 1px solid #E2E2E3;
}
.foot-menu ul {
    width: 960px; height: 16.5px; padding: 16px 0 0 0; margin: auto; letter-spacing: -0.41px;
}

.foot-menu ul li {
    display: inline-block; font-size: 13px;
}

.foot-menu ul li:first-child a{
    padding-left: 0; margin:0;
}

.foot-menu ul li:last-child a {
    border-right: 1px solid #E0E1E5; border-right: none;
}

.foot-menu ul li a {
    height: 14.3px;
    padding: 0 13px 0 12.5px; margin-left:-4px; border-right: 1px solid #E0E1E5;
}

.foot-menu ul li:nth-child(4) {
    color: #000000; font-family: 'NanumBarunGothicB';
}

.foot-menu ul li:nth-child(8) {
    color: #000000; font-family: 'NanumBarunGothicB';
}




.foot-wrap {
    height: 70px; color: #838282;
    font-size: 13px;
    .section {
        width: 960px; margin: auto; display: flex; padding-top:20px;
        .call {
            padding-top: 9px;
            &:nth-child(2){
                padding-left:18px;
            }
        }
    }
    div {
        .share {
            width: 172.92px; height: 30px; display: flex;  margin-left: auto;
            a {
                width: 120px; text-align: center; margin-left: 10px; padding-top:7px;
                border: 1px solid #1a345e;; color: #1a345e; box-sizing: border-box;
                background: #FFFFFF; font-family: "NanumBarunGothicB"; letter-spacing: -0.4px;
            }
            img {
                margin-left: auto; cursor: pointer;
            }
        }
    }
}





/* font - noonnu.cc */
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothicB';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: "NanumBarunGothicUL";
    src: url("/fonts/NanumBarunGothicUltraLight.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}



