body {padding: 0; margin: 0; text-decoration: none; font-family: 'NanumBarunGothic'; color: #000000;
    word-break: keep-all; word-wrap: break-word; &::-webkit-scrollbar{display:none;}}
ul { list-style: none; }
li {word-break: keep-all; word-wrap: break-word;}
a { text-decoration: none; color: inherit;}

.mobile-content {
    width: 100%; overflow: hidden;
    /* 메뉴바 */
    .nav-box { 
        width: 100%; height: 52px; position: fixed; top: 0; z-index: 999;
        .nav-btn {
            width: 100%; height: 52px; z-index: 999;
            background: linear-gradient(to right, rgba(229,0,37,1) 0%, rgba(232,10,33,1) 75%, rgba(243,54,17,1) 100%);
            .hambuger {
                position: absolute; left: 18px; top: 19px;
            }
            .tab-menu {
                display: inline-block; margin: 17px 0 0 60px; 
                span {
                    color: #FFFFFF; font-size: 19px; letter-spacing: -0.03em; position: relative; 
                }
                img {
                    position: absolute; top: 22px; left: 144px;
                }
                .arrow-on {
                    display: none;
                }
            }
            .nav-search {
                position: absolute; right: 18px; top: 16.7px; height: 20px;
                img {
                    width: 98%; height: 99%;
                }
            }
        }
        .tab-menu-con {
            width: 100%; background: #FFFFFF; z-index: 990;
            position: relative; height: 0; overflow: hidden;
            transition: height 0.8s ease;
            ul {
                margin: 0 auto; padding:0 42px; 
                box-sizing: border-box;
                li {
                    border-bottom: 1px solid lightgray;
                    padding: 14px 18px; font-size: 15px;
                    letter-spacing: -0.028em; color: #333333;
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
        .cover {
            width: 100%; background: #000; position: absolute;
            height: 100vh; opacity: 0.4; z-index: -1;
            display: none;
        }
    }
    /* 본문 */
    .container {
        position: relative; min-height: 500px; padding-top: 50px; z-index: 1;
        letter-spacing: -0.03em; line-height: 1.1;
        .top-content {
            padding: 30px 18px 0 18px;
            /* 태그박스&펀드이름 */
            .tag-box {
                margin-bottom: 10px; position: relative;
                .tag-item {
                    font-size: 11px; height: 15px; line-height: 15px; margin-bottom: 16px;
                    padding-right: 15px;
                    span {
                        height: 15px; line-height: 15px; padding: 2px 5px 0;
                        display: inline-block;
                    }
                    &:first-child {
                        span {
                            &:first-child {
                                border: 1px solid #577cbf; color: #1f52ae;
                            }
                            &:last-child {
                                border: 1px solid #d60024; color: #d60024;
                                margin-left: 1px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-bottom: 14px;
                        span {
                            border: 1px solid #f54900; color: #f54900;
                            &:last-child {
                                margin-left: 3px;
                                width: 29px;
                            }
                        }
                    }
                }
                img {
                    position: absolute; bottom: -2.5px; right: 0;
                }
            }
            .fund-name {
                font-family: 'NanumBarunGothicB'; font-size: 19px; line-height: 1.3;
                margin-bottom: 10px; width: 83%; letter-spacing: -0.022em;
            }
            /* 펀드요약테이블 */
            .fund-info {
                position: relative; border-top: 1px solid #323e51; border-bottom: 1px solid #c8cacc;
                border-left: 1px solid #c8cacc; border-right: 1px solid #c8cacc;
                .fund-info-list {
                    margin: 0; padding: 0 0 20px 0;
                    .info-list-top {
                        width: 50%; padding: 20px 0 60px; text-align: center; height: 56px;
                        border-right: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;
                        background: url(/img/Mobile/m_ico_fund.gif) no-repeat center 80%;
                        margin-top: 0;
                        span {
                            display: inline-block; width: 100%; line-height: 1.4;
                            &:first-child {
                                font-size: 14px; color: #1a345e; margin-bottom: 15px; 
                                width: 30%;
                            }
                            &:last-child {
                                font-size: 16px;
                            }
                        }
                    }
                    .info-list-top2 {
                        position: absolute; top: 0; right: 0; margin-top: 0;
                        width: 50%; padding: 20px 0 60px; text-align: center; height: 56px;
                        border-bottom: 1px solid #e5e5e5; 
                        background: url(/img/Mobile/m_ico_d.gif) no-repeat center 85%;
                        span {
                            display: inline-block; width: 100%; line-height: 1.4;
                            &:first-child {
                                font-size: 14px; color: #1a345e; margin-bottom: 15px; 
                            }
                            &:last-child {
                                font-size: 16px; color: #D60024; margin-top: -1px; 
                            }
                        }
                    }
                    li {
                        padding: 0 13px; font-size: 14px; line-height: 1.4; letter-spacing: -0.03em;
                        .title {
                            display: inline-block; width: 38%; color: #1a345e;
                        }
                        .txt {
                            display: inline-block;
                        }
                        &:nth-child(3) {
                            .txt {
                                color: #292e9d; font-family: 'NanumBarunGothicB';
                            }
                        }
                        &:nth-child(4) {
                            .rate {
                                color: #0073cc; padding-left: 12px; margin-left: 5px;
                                background: url(/img/PC/ico_up.gif) no-repeat center left;
                            }
                        }
                    }
                    .list-type1 {
                        margin-top: 20px;
                    }
                    .list-type2 {
                        margin-top: 15px; 
                        &:last-child {
                            min-height: 54px;
                            .title {
                                margin-bottom: 5px;
                            }
                            .txt {
                                position: relative; display: inline-block; vertical-align: top;
                                .grade {
                                    color: transparent; font-size: 14px;
                                    &.type1 {
                                        background: url(/img/Mobile/m_ico_level_on.gif) no-repeat ;
                                        position: absolute; top: 0;
                                    }
                                    &.type2 {
                                        background: url(/img/Mobile/m_ico_level_off.gif) no-repeat ;
                                        position: absolute; top: 25px;
                                        display: inline-block;
                                        &:last-child {
                                            left: 17px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .fund-file {
                    padding: 20px 13px 25px; border-top: 1px solid #c8cacc;
                    background: #fbfcfc;
                    .title {
                        margin-bottom: 15.5px;
                    }
                    .download-btn {
                        font-size: 14px; color: #666666; margin-left: 3%; padding-left: 30px;
                        background: url(/img/Mobile/m_ico_pdf.gif) 0 0 no-repeat; background-size: 20px 20px;
                        line-height: 24px; display: inline-block;
                    }
                }
            }
            .btn-area {
                letter-spacing: -0.05em; color: #323e51; margin-top: 30px; line-height: 47px;
                display: table; table-layout: fixed; width: 100%; white-space: nowrap; 
                text-align: center; margin-bottom: 40px;
                a {
                    border: 1px solid #6f7885; width: 32%; display: inline-block;
                    margin-right: 2%; max-height: 48px; box-sizing: border-box;
                    &:first-child {
                        background: #f0143a; border: 1px solid #f0143a; color: #FFFFFF;
                        border-radius: 2px;
                    }
                }
            }
        }
        /* 탭메뉴 */
        .bottom-content {
            margin-top: -5px; padding-bottom: 20px;
            /* 탭메뉴슬라이드 */
            .tab-area {
                border-top: 1px solid #d6d8dc; border-bottom: 1px solid #878a94;
                width: 100%; background: #f9f9f9; position: relative; 
                height: 47px; box-sizing: border-box; padding: 0 4px;
                ul {
                    margin: 0 auto; padding: 0; white-space: nowrap; color: #333333;
                    scroll-snap-type: x; overflow-x: auto;
                    .tab-btn {
                        display: inline-block; height: 47px; line-height: 47px; letter-spacing: -0.127em;
                        margin: 0 20px; box-sizing: border-box;
                        &.selected {
                            color: #e50025; border-bottom: 3px solid #e50025;
                            height: 46px;
                        }
                    }
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    
                }
                .tab-arrow {
                    position: absolute; height: 47px; line-height: 47px; color: transparent;
                    width: 18px; z-index: 900;
                    &.left {
                        top: 0; left: 0;
                        background: url(/img/Mobile/btn_left.png) 9px 13px no-repeat ;
                        background-size: 8px 19px;
                        opacity: 0;
                    }
                    &.right {
                        top: 0; right: 0; background: url(/img/Mobile/btn_right.png) 0 13px no-repeat;
                        opacity: 1;
                    }
                    &.visible {
                        opacity: 1; 
                    }
                    &.visible2 {
                        opacity: 0; 
                    }
                }
            }
            /* 탭내용 */
            .tab-content {
                width: 100%; padding: 0 18px 0 18px; box-sizing: border-box;
                margin-bottom: 45px;
                .tab-body {
                    display: none; padding-top: 30px;
                    .title {
                        font-size: 18px; line-height: 25px; margin-bottom: 10px;
                        font-family: 'NanumBarunGothicB';
                        span {
                            font-size: 12px; color: #666666; line-height: 22px;
                            float: right; font-family: 'NanumBarunGothic'; margin-top: 3px;
                            letter-spacing: -0.035em;
                        }
                    }
                    &.selected {
                        display: block;
                    }
                    .tab-table {
                        font-size: 14px; border-collapse: collapse; width: 100%;
                        border-top: 2px solid #7f8ca2 ; letter-spacing: -0.04em;
                        word-break: keep-all; word-wrap: break-word;  
                        margin-bottom: 45px; border-spacing: 2px;
                        tr {
                            border-bottom: 1px solid #e1e3e6; display: table-row;
                            th {
                                border-right: 1px solid #e1e3e6; color: #1a345e;
                                font-weight: normal; background: #f7f9fa; 
                                text-align: left; 
                            }
                            td {
                                border-left: 1px solid #e1e3e6;
                            }
                            &:last-child {
                                border-bottom: 1px solid #a7acb4;
                            }
                        }
                        thead {
                            th {
                                border-bottom: 1px solid #e1e3e6; text-align: center;
                                vertical-align: middle; font-weight: normal; 
                                &:last-child {
                                    border-right: none;
                                }
                            }
                        }
                        &.type1 {
                            line-height: 22px; 
                            tr {
                                th {
                                    width: 37.7%;
                                    box-sizing: border-box; display: table-cell;
                                    background: #f7f9fa; border-right: 1px solid #e1e3e6;
                                    padding: 9px 3%; vertical-align: top;
                                }
                                td {
                                    padding: 9px 3%; vertical-align: top;
                                    border-left: 1px solid #e1e3e6;
                                   &.break {
                                        word-break: break-all;
                                    }
                                }
                            }
                        }
                        &.type2 {
                            line-height: 26px;
                            min-width: 348px;
                            tr {
                                th {
                                    padding: 10px 10px 9px 10px;
                                    &:last-child {
                                        background: #f7f9fa url(/img/Mobile/m_btn_list.gif) no-repeat top right;
                                    }
                                }
                                td {
                                    display: table-cell; padding: 10px 10px 9px 10px;
                                    text-align: right;
                                }
                                &:nth-child(2n) {
                                    td {
                                        background: #fbfcfc;
                                    }
                                }
                            }
                        }
                        &.type3 {
                            line-height: 26px; min-width: 331px; margin-bottom: 0;
                            tr {
                                th {
                                    padding: 10px 10px 9px 10px; width: 25%;
                                }
                                td {
                                    text-align: right; padding: 10px 10px 9px 10px;
                                }
                                &:nth-child(2n) {
                                    td {
                                        background: #fbfcfc;
                                    }
                                }
                            }
                            thead {
                                th {
                                    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                                        background: #f7f9fa url(/img/Mobile/m_btn_list.gif) no-repeat top right;
                                    }
                                }
                            }
                        }
                        &.type4 {
                            line-height: 26px; min-width: 292px;
                            thead {
                                th {
                                    padding: 10px 10px 9px 10px; font-size: 1em;
                                    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                                        background: #f7f9fa url(/img/Mobile/m_btn_list.gif) no-repeat top right;
                                    }
                                }
                            }
                            tr {
                                td {
                                    padding: 10px 10px 9px 10px; text-align: right; white-space: nowrap;
                                    display: table-cell;
                                    &:first-child {
                                        border-left: none; text-align: center; min-width: 88.5px;
                                        box-sizing: border-box;
                                    }
                                }
                                &:nth-child(2n) {
                                    td {
                                        background: #fbfcfc;
                                    }
                                }
                            }
                            
                        }
                    }
                    .table-txt {
                        margin-top: 10px; letter-spacing: -0.027em;
                        ul {
                            margin: 0; padding: 0; font-size: 14px; color: #666666;
                            li {
                                background: url(/img/Mobile/blt_notice_2.gif) no-repeat 0 9px;
                                padding-left: 9px; line-height: 23px;
                            }
                            
                        }
                    }
                    /* tab3일별기준가 조회박스*/
                    .date-box {
                        width: 100%; margin: 0 -18px 30px -18px; border: 18px solid #f5f6f7;
                        .date-search {
                            width: 100%; border: 1px solid #c8cacc;
                            box-sizing: border-box; white-space: nowrap;
                            .title {
                                font-size: 14px; font-family: 'NanumBarunGothicB';
                                padding: 16px 0 0 15px; line-height: 18px; margin-bottom: 0;
                            }
                            .date {
                                padding: 0 15px; box-sizing: border-box;
                                margin-top: 6px;
                                a {
                                    font-size: 14px; border: 1px solid #6f7885; width: 23.5%;
                                    text-align: center; display: inline-block; line-height: 37px;
                                    margin-left: 2%; margin-right: -3.2px; color: #1a345e;
                                    box-sizing: border-box; height: 37px;
                                    &:first-child {
                                        margin-left: 0;
                                    }
                                }
                            }
                            .period {
                                padding: 0 15px 15px; margin-top: 6px; font-size: 14px;
                                vertical-align: middle; white-space: nowrap;
                                .period-1 {
                                    width: 46.8%; display: inline-block; 
                                    background: url(/img/Mobile/m_ico_schedule.gif) no-repeat 90% 46%;
                                    span {
                                        width: 69%; display: inline-block; padding: 0 2.654% 0 2.654%;
                                        height: 43px; line-height: 43px; font-size: 16px;
                                        letter-spacing: -0.05em; text-align: center;
                                        box-sizing: border-box;
                                    }
                                }
                                .period-2 {
                                    display: inline-block; width: 4.5%; text-align: center;
                                    line-height: 16px;
                                }
                            }
                        }
                        .date-btn {
                            width: 100%; display: inline-block; height: 48px; line-height: 49px;
                            text-align: center; background: #323e51; color: #FFFFFF;
                        }
                    }
                    .selected-period {
                        font-size: 12px; line-height: 1em; color: #666666; margin-bottom: 12px;
                        letter-spacing: -0.035em;
                        span {
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
        /* notice */
        .notice-area {
            width: 100%; font-size: 13px; line-height: 18px;
            box-sizing: border-box;
            .notice-top {
                padding: 0 18px; border-top: 1px solid #323e51; font-size: 16px; line-height: 43px;
                font-family: 'NanumBarunGothicB'; height: 100%; height: 41px;
                position: relative; box-sizing: border-box; color: #323e51;
                &::first-letter {
                    color: #f94c00;
                }
                img {
                    position: absolute; right: 18px; top: 42%;
                    &#noticeOn {
                        display: none;
                    }
                }
            }
            .notice-btm {
                padding: 18px 16px; display: none; border-top: 1px solid #cccfd3;
                ul {
                    margin: 0; padding: 0; line-height: 18px; letter-spacing: -0.033em;
                    li {
                        padding-left: 9px; word-break: keep-all; word-wrap: break-word;
                        background: url(/img/Mobile/blt_notice.gif) no-repeat 0 5px;
                        ul {
                            margin-top: 7px;
                            li {
                                background: url(/img/Mobile/blt_notice_2.gif) no-repeat 0 9px;
                                color: #666666; line-height: 19px;
                            }
                        }
                    }
                    .list-margin {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    /* footer */
    .footer {
        width: 100%; background: #f1f3f6;
        border-top: 1px solid #e0052d; 
        .foot-top {
            padding: 15px 20px 15px; border-bottom: 1px solid #b5b8be;
            border-radius: 2px; box-sizing: border-box;
            .foot-top-info {
                font-size: 16px; line-height: 19px; letter-spacing: -0.029em;
                span {
                    display: inline-block; vertical-align: middle; font-size: 14px; box-sizing: border-box;
                    margin-right: 2%;
                    &:first-child {
                        margin-right: 30px; color: #333333;
                    }
                    .phone-num {
                        letter-spacing: -0.027em; vertical-align: middle;
                        img {
                            vertical-align: middle; padding: 0 3px; margin-left: 5px;
                        }
                    }
                    .kakaochat {
                        display: block; height: 27px; margin-top: 8px; padding-left: 35px;
                        line-height: 27px; letter-spacing: -0.03em;
                        background: url(/img/Mobile/kakaochat.png) 1px 0 no-repeat; background-size: 27px;
                    }
                }
            }
        }
        .foot-btm {
            width:100%; border-bottom: 1px solid #b5b8be;
            .foot-btm-menu {
                padding: 10px 20px 0; letter-spacing: -0.027em; line-height: 1.1;
                ul {
                    font-size: 14px; padding: 5px 0; margin: 0; overflow: hidden; box-sizing: border-box;
                    line-height: 1.1;
                    li {
                        display: inline-block; padding: 0 2%; box-sizing: border-box;
                        border-left: 1px solid #929394; 
                        a {
                            font-size: 0.78em;
                        }
                        &:first-child {
                            border-left: none; padding-left: 0;
                        }
                    }
                    &:first-child {
                        li {
                            &:nth-child(2) {
                                font-weight: bold;
                            }
                        }
                    }
                    &:last-child {
                        li {
                            &:last-child {
                                font-weight: bold;
                            }
                        }
                    }

                }
            }
            .foot-copyright {
                letter-spacing: -0.042em; display: inline-block; margin: 0; line-height: 1.1;
                color: #818181; font-size: 10px; padding: 15px 0 15px 20px; text-align: center;
            }
        }
    }
}
.scrollLock { overflow: hidden;}
@media (min-width: 610px) {
    .tab-table.type2 {
        display: table; table-layout: fixed;
    }
}
@media (min-width: 390px) {
    .tab-table.type4 {
        display: table; table-layout: fixed;
    }
}
@media (min-width: 539px) {
    .tab-arrow {
        display: none;
    }
    .tab-area {
        text-align: center;
    }
}
/* font - noonnu.cc */
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothicB';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
@font-face {
    font-family: "NanumBarunGothicUL";
    src: url("/fonts/NanumBarunGothicUltraLight.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}