body {padding: 0; margin: 0; text-decoration: none; font-family: 'NanumBarunGothic'; color: #000000}
ul { list-style: none; }
a { text-decoration: none; color: inherit;}

.mobile-content {
    width: 100%;
    .nav-box { 
        width: 100%; height: 52px; position: fixed;
        .nav-btn {
            width: 100%; height: 52px; position: relative; z-index: 999;
            background: linear-gradient(to right, rgba(229,0,37,1) 0%, rgba(232,10,33,1) 75%, rgba(243,54,17,1) 100%);
            .hambuger {
                position: absolute; left: 18px; top: 19px;
            }
            .tab-menu {
                display: inline-block; padding: 17px 0 0 60px;
                span {
                    color: #FFFFFF; font-size: 19px; letter-spacing: -0.03em;
                }
                img {
                    margin-left: 15px; margin-bottom: 1px; 
                }
            }
            .nav-search {
                position: absolute; right: 18px; top: 16.7px; height: 20px;
                img {
                    width: 98%; height: 99%;
                }
            }
        }
        .tab-menu-con {
            width: 100%; height: 390px; background: #FFFFFF; z-index: 999;
            position: relative; display: none;
            ul {
                margin: 0 auto; padding:0 42px; 
                box-sizing: border-box;
                li {
                    border-bottom: 1px solid lightgray;
                    padding: 14px 18px; font-size: 15px;
                    letter-spacing: -0.028em; color: #333333;
                    &:last-child {
                        border: none;
                    }
                }
            }
        }
        .cover {
            width: 100%; background: #000; position: absolute;
            height: 100vh; opacity: 0.4; z-index: 1;
            display: none;
        }
    }

    .container {
        width: 100%; height: 500px; background: lightgray;
    }
    
    .footer {
        width: 100%; height: 200px; background: lightcoral;
    }
}



/* font - noonnu.cc */
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothicB';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: "NanumBarunGothicUL";
    src: url("/fonts/NanumBarunGothicUltraLight.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}