* {margin:0; padding:0; text-decoration: none; color: #000000; font-family: 'NanumBarunGothic';}
ul, li {margin:0; padding:0; list-style: none;}
button {background: transparent; border: none;}

body{
    #calendar {
        background: #e9f3f7;
        width: 500px;
        margin: 30px;
        text-align: center;
        border-radius: 20px;
        position: relative;
        button {
            font-size: 20px;
            color: #646464;
            position: absolute;
            top: 22px;
            cursor: pointer;
            &:first-child {
                left: 150px;
                opacity: 0.5;
            }
            &:nth-child(2) {
                right: 150px;
                opacity: 0.5;
            }
            &:nth-child(3) {
                right: 30px;
                font-size: 14px;
                border: 1px solid gray;
                border-radius: 20px;
                padding: 3px 5px;
                background: #FFFFFF;
                font-family: 'NanumBarunGothicB';
            }
        }
        div {
            .year-month {
                font-size: 24px;
                font-family: 'NanumBarunGothicB';
                padding: 20px;
            }
            .days {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                .day {
                    font-family: 'NanumBarunGothicB';
                    color: #333333;
                    &:first-child {
                        color: #e44444;
                    }
                    &:last-child {
                        color: #4d4bd1;
                    }
                }
                
            }
            .dates {
                box-sizing: border-box;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                row-gap: 15px;
                padding: 15px 0;
                .date {
                    position: relative;
                    span {
                        padding: 3px 6px 1px 6px;
                        border-radius: 20px;
                        &:hover {
                            background: white;
                            border-bottom: none;
                            cursor: pointer;
                        }
                        &:last-child {
                            padding: 0;
                            position: absolute;
                            right: 12px;
                            top: -8px;
                            color: #ffa319;
                            pointer-events: none;
                            &:hover {
                                background: none;
                            }
                        }
                    }
                    &:nth-child(7n+1) {
                        span {
                            color: #e44444;
                            &:last-child {
                                color: #ffa319;
                            }
                        }
                    }
                    &:nth-child(7n) {
                        span {
                            color: #4d4bd1;
                            &:last-child {
                                color: #ffa319;
                            }
                        }
                    }
                }
            }
        }
    }
    .event-area {
        width: 500px;
        margin: 30px;
        .search-area {
            background: #e9f3f7;
            height: 50px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                height: 40%;
                margin-right: 10px;
                border: none;
                border-radius: 20px;
                padding-left: 20px;
                &:first-child {
                    width: 25%;
                }
            }
            button {
                height: 40%;
                background: #FFFFFF;
                border-radius: 20px;
                padding: 0 15px;
                cursor: pointer;
            }
        }
        .todoList-area {
            background: #e9f3f7;
            height: 300px;
            border-radius: 20px;
            margin-top: 30px;
            padding: 20px;
            .this-date {
                font-size: 20px;
                border-bottom: 1px solid lightgray;
                padding-bottom: 10px;
                span {
                    font-family: 'NanumBarunGothicB';
                    color:#333333;
                    margin-right: 10px;
                }
            }
            .todolist {
                height: 100%;
                .add-area {
                    width: 100%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input {
                        width: 80%;
                        border: none;
                        height: 50%;
                        border-radius: 20px;
                        padding-left: 10px;
                    }
                    button {
                        height: 50%;
                        width: 15%;
                        background: #FFFFFF;
                        border-radius: 20px;
                        padding: 0 15px;
                        cursor: pointer;
                    }
                }
                .view-list {      
                    ul {
                        margin: 0 auto;
                        width: 95%;
                        height: 200px;
                        scrollbar-width: thin;
                        padding-left: 20px;
                        overflow-y: scroll;
                        li {
                            word-wrap: break-word;
                            margin-bottom: 5px;
                            list-style: disc;
                        }
                    }
                }
            }
        }
    }
}
.other {
    opacity: 0.4;
    position: relative;
    span {
        &:last-child {
            padding: 0;
            position: absolute;
            right: 12px;
            top: -8px;
            color: #7a7a7a7c;
            user-select: none;
        }
    }
}
.today {
    span {
        background: #7e788842;
        &:last-child {
            background: transparent;
        }
    }
}
.selected {
    background: red;
}
.hidden {
    display: none;
}



/* font - noonnu.cc */
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothicB';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}